<div class="size-content">

  <form class="example-form">
    <mat-form-field class="example-full-width"  *ngIf='productToDisplay.id != 0'>
      <textarea matInput placeholder="id" [(ngModel)]="productToDisplay.id"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wybierz typ</mat-label>
      <mat-select [(ngModel)]="productToDisplay.type" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let item of typeList" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="name" [(ngModel)]="productToDisplay.name"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <mat-error *ngIf="!validateName()">
      Muszą być przynajmniej 3 znaki
    </mat-error>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="cena" [(ngModel)]="productToDisplay.price"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <mat-error *ngIf="isNotNumberPrice()">
      Muszą być cyfry
    </mat-error>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="waga" [(ngModel)]="productToDisplay.weight"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <mat-error *ngIf="isNotNumberWeight()">
      Muszą być cyfry
    </mat-error>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="opis" [(ngModel)]="productToDisplay.description"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <mat-error *ngIf="!validateDescription()">
      Muszą być przynajmniej 3 znaki
    </mat-error>


    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="ilość" [(ngModel)]="productToDisplay.quantity"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <mat-error *ngIf="isNotNumberQuantity()">
      Muszą być cyfry
    </mat-error>
  </form>

  <button mat-raised-button (click)='updateProduct()' *ngIf='!isNewProduct()'>Update product</button>
  <button mat-raised-button (click)='addProduct()' *ngIf='isNewProduct()'>Add product</button>
